body{
    /* background-color: lightgray; */
    background-image: url("./background.png");
    background-size: cover;
}

h3, h4{
    font-family: 'Audiowide', cursive;

}

h3{
    display:inline;
    /* margin: 0; */
}

.left-content h4{
    color:lightgray;
}

.jumbotron{
    padding: 5px;
    margin: 0 0 10px 0;
    background-color: black;
    /* color:lightgray; */
    color: #9615DB;

    font-family: 'Monoton', cursive;
}

.left-content{
    margin: 0;
}

input{
    background-color: lightgray;
}

.searchDiv{
    margin-bottom:10px;

}

.btn{
    border: 1px solid rgb(118, 118, 118);
    background-color: #9615DB;
    color:lightgray;
    margin-left: 2px;
}

#clear{
    margin-bottom:2px;
    font-weight: bold;
}

.card{
    margin:10px 0;
    border: 2px solid #9615DB;
    background-color:lightgray;
}

.card-body{
    padding:10px;
}

.center{
    text-align: center;
    justify-content: center;
}

.cityLi{
    background-color: lightgray;
}

.cityLi:hover{
    cursor: pointer;
}

.icon{
    display:inline;
    vertical-align: top;
    padding: 0;
    margin-top: 0;
}

#forecastDiv{
    margin-bottom: 50px;
}

#snapshotDiv{
    background-color:black;
    color: lightgray;
}

#instructions{
    color:lightgray !important;
}

.daily{
    background-color: black;
    width: 20%;
    margin: 5px;
    border-radius: 5px;
}

.daily p{
    color: lightgray;

}

.dailyEl{
    font-weight: bold;
    color:lightgray;
    margin-bottom:0 !important;
}

.low{
    color: green;
}

.moderate{
    color: yellow;
}

.high{
    color: orange;
}

.very-high{
    color: red;
}

footer{
    background-color:black;
    padding:5px 0;
    color: lightgray;
}

footer p{
    margin-bottom:0;
}